appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bcrypt==3.1.7
bleach==3.3.0
blinker==1.4
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
Click==7.0
colorama==0.4.3
cryptography==3.0
Flask==1.1.2
gunicorn==20.1.0
requests==2.25.1
requests-unixsocket==0.2.0
rsa==4.7.2
SecretStorage==3.1.2
semantic-version==2.8.2
Send2Trash==1.5.0
simplejson==3.17.0
six==1.15.0
smmap==4.0.0
smmap2==3.0.1
sqlparse==0.4.1
systemd-python==234
terminado==0.9.4
testpath==0.4.4
tornado==6.1
traitlets==5.0.5
twilio==6.53.0
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.3
usb-creator==0.3.7
virtualenv==20.0.29+ds
wadllib==1.3.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xkit==0.0.0
yapf==0.31.0
zipp==1.0.0
